/* div{
    height:100px;
    width:550px;                                                  
    background-color: darkgray;
    border-width:5px;
    border-style:double;
    border-color:brown;
    border: 7px solid black; 
      border-left-color:  rgb(80, 128, 9);
    border-right-color:rgb(205, 232, 50);
   border-top-color:rgb(33, 84, 180);
    border-bottom-color:rgb(4, 4, 211);
     /* border-radius:15px; */
     /* border-top-right-radius:15px;
      border-bottom-left-radius: 15px; */
    /* padding:30px;
    margin:5px; */
     /* margin-left:50px; */
    /* margin:10px 30px 50px; */
   
h1{
    border-width:3px;
    border-color:crimson;
    border-style:dashed;
    border: 3px dashed crimson;
    border-left-color:  greenyellow;
    border-right-color:cadetblue;
   border-top-color:cornflowerblue;
    border-bottom-color:darkblue;
    border-radius: 30px;
    border-radius: 90px;
    padding-right:20px;
    padding-left:250px;
    padding-top:5px;
    padding-bottom:7px;
}

button{
    border: 2px,solid,rgba(34, 83, 105, 0.708);
    border-radius:40px;
    padding:9px;
    background-color: cadetblue;
    color:azure;
}
#outer{
    height:200px;
    width:70px;
    border: 2px solid black;
    
}
.inner{
    height:50px;
    width:50px;
    border: 2px solid black;
    margin:10px;
    border-radius:50%;
    background-color: red;
}
#red{
    background-color: red;
}
#green{
    background-color: green;

}
#yellow{
    background-color: yellow;
}
h2{
    display:inline;
    background-color: burlywood;
}
.one{
    display:block;
    background-color: brown;
} 
span{
    background-color: blueviolet;
    border:2px solid black;
    height:100px;
    padding:30px;
    margin:80px;
 }

