div{
    height:100px;
    width: 100px;
    background-color: rgba(161, 67, 24, 0.3);
    margin: 0 auto;
    margin-top:10px;
    transition: margin-top 2s ease 0.2s;
}

div:hover{
 margin-top:40px;
 background-color:rgb(37, 149, 29);
}