#mainTopic {
    color:blue;
}
* {
    text-align: center;
}
h1, h5{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.para{
color:white;
background-color: cornflowerblue;
}
/* div button::hover{
    background-color: purple;
    color:azure;
} */
button:hover{
background-color: yellow;
color: blue;
}
p:nth-of-type(odd){
    background-color: yellow;
    color:black;
}

h1::first-letter{
    color:red;
}
input[type="checkbox"]:checked+label {
color:darkgreen;
}