*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1,h3{
    color:#b92b27;
}
#login{
    background-color: white;

}
#signup{
    background-color: #b92b27;
    color:white;
}
.upvote{
    background-color: green;
    color:aliceblue;
}
/* p a {
    color:purple;
    background-color: gold;
} */
.feedback a{
    color:darkred;

}
/* p + h3{
    text-decoration:underline;
} */
.upvote+button{
    background-color: cornflowerblue;
    color:cyan
}
div > input {
    background-color: darksalmon;
}
input[type="text"]{
    color:red;
}
input[type="password"]{
    color:green;
}
input[type]{
    background-color:darkmagenta;
}
/* #myId p{
    color : green
} */
div[id="myId"] p{
    color:green;
}
button:hover{
    background-color: black;
    color:white;

}
h3:hover{
    text-decoration: none;
}
button:active{
    background-color: aquamarine;
}
p:active{
    font-weight: 900;
    color:darkslategrey;
}
input[type="radio"]:checked + label{
    color:red;
    font-weight:bold;
}
.post:nth-of-type(2n){
background-color: aqua;
}
h1::first-letter{
    color:rgb(70, 42, 233);
}

p::selection{
    background-color: rgb(245, 247, 127);
}
h3{
    background-color: blanchedalmond;
}